

.header{
    background:rgba(0, 0, 0, 0.599);
    color:white;
    text-align: center;
    text-align: left;
    padding:20px;
    margin:0px;
    user-select: none;
    width:100%;
}
body,head,html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
  }

  
.input-div{
    border:2px solid rgba(0, 0, 0, 0.476);
    border-radius: 14px;
    margin: 0px;
    width:150px;
    height:250px;
    position: relative;
    max-width: 200px;
}
.form-input{
    padding:10px;
    top:0;
    left:0;
    width:100%;
    height:100%;
    user-select: none;
    position: absolute;
}
.input-table{
    table-layout: auto;
    width:40px;
    text-align:center;
    left:0;
    top:0;



}

td{

    padding-right:10px;

}
.input-table tr td input[type=number]{
    border:2px solid rgba(0, 0, 0, 0.476);
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 4px;
    margin:2px;
    padding:3px;
    width:120px;
}

.input-table tr td input[type=number]:focus{
    outline:none;
    border:2px solid rgba(28, 149, 230, 0.83);
    border-radius: 4px;
    box-shadow: 2px 1px  rgba(153, 153, 153, 0.451);
    
}

.button-styling{
    border:0px;
    box-shadow: 2px 2px rgba(66, 99, 219, 0.152);
    border-radius: 3px;
    background-color: rgb(189, 194, 194);
    color:rgba(54, 54, 55, 0.93);
}

.button-styling:hover{
    box-shadow: 4px 4px rgba(66, 176, 219, 0.058);
    background-color: rgb(205, 207, 207);
    color:rgba(54, 54, 55, 0.93);
}


.input-table tr td input[type=button]{
    border:0px;
    padding:10px;
    bottom:30px;
    right:35%;
    position: absolute;
    box-shadow: 2px 2px rgba(66, 99, 219, 0.152);
    border-radius: 3px;
    background-color: rgb(189, 194, 194);
    color:rgba(54, 54, 55, 0.93);
    
}
.input-table tr td input[type=button]:hover{
    box-shadow: 4px 4px rgba(66, 176, 219, 0.058);
    background-color: rgb(205, 207, 207);
    color:rgba(54, 54, 55, 0.93);
}

.ir,.ir2{
    position: relative;
    left:0px;
}
.ir div{
    position: absolute;
    top:17%;
    right:0%;
    font-size: .8rem;
    color:grey;
    width:10px;
}
#ploan{
    padding-left: 12px;
}
#loanyears,#loanmonths{
    width:68px;
    margin-left:-60px;
}
.ir2 div{
    position: absolute;
    top:17.5%;
    right:92.5%;
    font-size: .85rem;
    color:grey;
}

.hidden{
    visibility: hidden;
    width:0px;
    height:0px;
    margin:0px;
    padding:0px;
    display: block;
}
.table-section-container{
    
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    display: block;
}



.input-table tr td input[type=number]::after{
    content:"apple";
    color:red;
    
}
.floating-container {
    border: 3px solid #fff;
    padding: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.floating-container .section {
    width:50%;
    flex : 1 0 55%;

    
    padding: 20px;
    min-width: 260px;
    margin:10px;
    
}   



.stats-section{
    border:2px solid rgba(0, 0, 0, 0.476);
    border-radius: 14px;
    width:150px;
    height:250px;
    position: relative;
    max-width: 200px;
}
.stats-container{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.stats-title{
    margin:2px;
}
.stat-output *{
    display:inline-block;
    margin:0px;
    margin-top:10px;
    padding:0px;
    text-align: left;
}
div.piechart {
    width: 200px;
    height: 200px;
    scale: .22;
    border-radius: 50%;
    background-image: conic-gradient(
        rgba(56, 56, 56, 0.621) 180deg,
        rgba(24, 203, 134, 0.962) 0);
    position: absolute;
    TOP:-75PX;
    RIGHT:-75px
}
th{
    background-color: rgba(83, 82, 82, 0.859);
    color:rgba(255, 255, 255, 0.972);
    display: table-cell;
    text-align: -internal-center;
    vertical-align: inherit;
}
tr.even *{
    background-color: rgba(242, 239, 239, 0.937);
}

.output-table tr{
    border:2px solid black;
    padding:0px;
    margin:0px;
    padding:10px;
}
.output-table tr{
    background-color: white;
}
.output-table tr td,.output-table tr th{
    border:1px solid rgba(77, 77, 77, 0.275);
    padding: 5px 5px 5px 10px;
}
.output-table{
    border-collapse: collapse;
    border-spacing: 0;
    text-align: right;
    margin-left: 0px;
    border-color:red;
    margin-bottom: 25px;
}
.apple{
    text-align: center;
}

.table-section{
    max-width:1200px;
    flex-grow :0 0 55%;
    margin:10px;
    margin-left:30px;
    position: relative;
}
.table-section-container{
    position: absolute;
    top:0;
    left:0;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.table-header h3{
    margin: 10px;
    display: inline-block;
    margin: 10px 30px 10px 10px;
    
}

.table-header{
    user-select: none;
}
.table-header input[type=button]{
    padding:6px;
    height:26px;

}



  
